body {
    min-width: 357px;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
#alertline {
    clear: both;
    width: 100%;
    margin: 1px;
    background-color: green;
    padding: 4px;
    color: white;
}
#tktunasigned{
    clear: both;
    width: 100%;
    margin: 1px;
    padding: 8px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.dispatcher{
    clear: both;
    width: 100%;
    margin: 1px;
    padding: 8px;
    border: 1px solid;
    background-color: lightblue;
}
.oof{
    clear: both;
    width: 100%;
    margin: 1px;
    padding: 8px;
    border: 1px solid;
    background-color: white;
    color: gray;
}
.alertcategory{
    clear: both;
    width: 100%;
    margin: 1px;
    padding: 8px;
    border: 1px solid black;
    background-color: lightgray;
}
.alertitem{
    clear: both;
    width: 100%;
    padding: 8px;
    background-color: lightgray;
    color: gray;
    display:none;
}
.errormessage{
    padding: 10px;
    font-size: 2em;
    text-align: center;
}
